<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Cartão de Apresentação
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Arthur Campos</ion-card-title>
      <ion-card-subtitle>Código da Turma: ADS301</ion-card-subtitle>
      <ion-card-content class="ion-text-center">
        <img src="assets/Minha Foto.jpg" alt="Minha Foto" style="border-radius: 50%; width: 150px; height: 150px; object-fit: cover;" />
      </ion-card-content>
    </ion-card-header>
    </ion-card>
      </ion-content>
